body {
    background: #f54c4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Hace que el fondo ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
  }


.title {
    top: 30px;
    font-weight: bold;
    font-size: 70px;
    position: absolute;
    display: flex;
  }

  @media screen and (min-width: 300px) {
    .title {
        font-size: 50px;
    }
}

.content {
    position: absolute;
    top: 120px; /* Ajusta la posición según sea necesario */
    font-size: 30px; /* Ajusta el tamaño de fuente según sea necesario */
    line-height: 1.5; /* Espaciado entre líneas */
  }


  img {
    border-radius: 30px;
    position: absolute;
    top: 200px; /* Ajusta la posición según sea necesario */
    font-size: 30px; /* Ajusta el tamaño de fuente según sea necesario */
    line-height: 1.5; /* Espaciado entre líneas */
  }

  .lenguaje {
    position: absolute;
    top: 400px; /* Ajusta la posición según sea necesario */
    font-size: 10px; /* Ajusta el tamaño de fuente según sea necesario */
    line-height: 1.5; /* Espaciado entre líneas */
  }