body {
    background: #f54c4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Hace que el fondo ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
  }
  
  .container {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .925);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 1rem;
    background-color: rgb(255, 0, 0);
  }
  
  .title {
    font-weight: bold;
    font-size: 70px;
    margin-top: -200px; /* Agrega un margen inferior al título */
  }
  
  .boton {
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0; /* Ajusta el margen superior e inferior de los botones */
  }
  
